
.navbar{
  position: sticky;
  top: 0;
  width: 100%;
  background: #f5f5f5;
  z-index: 9;
}
.nav{
  padding: 10px 10vw;
  display: flex;
  justify-content: space-between;
}
.brand-logo{
  height: 60px;
}

.nav-items{
  display: flex;
  align-items: center;
}


.nav-items a{
  margin-left: 20px;
}

.nav-items a img{
  width: 30px;
}

.links-container{
  width: 100%;
  display: flex; 
  padding: 10px 10vw;
  justify-content: center;
  list-style: none;
  border-top: 1px solid #d1d1d1;
}

.link{
  text-transform: capitalize;
  padding: 0 10px;
  margin: 0 5px;
  text-decoration: none;
  color: #555;
  opacity: 0.5;
  transition: 0.5s;
}

.link:hover{
  opacity: 1;
}


body {
  font-family: monospace;
  background-color: rgb(26, 26, 76);
  color: whitesmoke;
  font-size: 16px;
  text-align: justify;
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  text-align: center;
  background-color: rgb(45, 42, 42);
  color: #fff;
  padding: 10px 0 30px;
  
  font-size: 13px;
  line-height: 20px;
}

.row{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col{
  flex-basis: 25%;
  padding: 10px;
}

.col:nth-child(2), .col:nth-child(3){
  flex-basis: 15%;
}

.logo{
  width: 80px;
  margin-bottom: 30px;
}

.col h3{
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
email-id{
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
ul li{
  list-style: none;
  margin-bottom: 12px;
}
ul li a {
  text-decoration: none;
  color: #fff;
}

form{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;

}

form input{
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

